@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    margin: 0;
    padding: 0px;
}
:root{
    --cor1: black;
    --fontpadrao: Arial, Verdana, sans-serif;
    --fontTitle: 'Passion One', cursive, serif;
    --fontcontent:  'Sriracha', cursive, sans-serif;
}

header{
    background-color: black;
    height: 20vh;
    color: white;
    text-align: center;
  
    
}
header > h1{
    font-family: var(--fontTitle);
    font-weight: bold;

}
header strong{
    font-weight: bold;
}
main p{
    font-family: var(--fontcontent);
    font-weight: normal;
    text-align: justify;
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 30px;
    font-size: 2em;
    line-height: 2em;
}
main article{
    background-image: url('imagens/background001.jpg');
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: hover; 
}
.interna  p{
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    padding: 30px;
    max-width: 500px;
   margin-top: 10px;
    
}
footer{
    background-color: black;
}
footer a{
    text-decoration: none;
    color: white;
}
footer p{
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: black;
}
span:hover{
    text-decoration: underline;
}
footer strong{
    text-decoration: none;

}